.image {
    width: 90px;
    height: 90px;
    padding: 30px;
    padding-left: 100px;
}
.header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.hamburger {
    position: fixed;
    right: -100px;
}
#hams {
    width: 85px;
    height: 85px;
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid transparent;
    background-color: transparent;
}
.hambar {
    width: 60px;
    height: 10px;
    background-color: black;
}

.hoverham {
    width: 60px;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#hams:hover{ 
    background-color: #dddddd;
    border-radius: 50px;
    transition-duration: 1s;
}

#hams:hover .hamsecond {
    opacity: 0;;
}
#hams:hover .hamfirst {
    position: absolute;
    top: 45px;
    transform: rotate(135deg);
    transition-duration: 1s;
}
#hams:hover .hamthird {
    transform: rotate(-135deg);
    transition-duration: 1s;
}